<!DOCTYPE html>
<html>
<head>
  <title>Main</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'shared/navigation' %>

<div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-12 .col-sm-6 .col-lg-8">
          <%= yield %>
        </div>
		<div class=".col-xs-6 .col-lg-4">
		  </div>
      </div>
    </div>
</body>
</html>
