<h1>Submitted!</h1>
<p> result=<%= @result.inspect %></p>
<p> solution=<%= @solution.inspect %></p>
<p> token=<%= @token %></p>
<p> instance=<%= @instance %></p>
<p>
  <h4>Result number:</h4>
  <%= @result_number.inspect %>
</p>

<p>
  <h4>Status number:</h4>
  <%= @status_number.inspect %>
</p>

<p>
  <h4>Details:</h4>
  <%= @details.inspect %>
</p>
