<html>
<h1>Submit a source code</h1>

<p><%= raw @problem %> </p>

<%= form_for :code, remote:true, class: 'form-horizontal', url: code_eval_index_path do |f| %>

<div class="row">
<div class="field form-group">
  <%= f.label :body %><br />
	<div class="col-sm-10">
      <%= f.text_area :body, :value => @base_template, class: 'form-control', :rows => 20, :cols => 60, 'data-editor' => 'c_cpp' %>
	</div>
  </div>
  <div class="actions form-group">
	<div class="col-sm-5">
  	  <%= link_to "<button class=\"btn btn-danger\">Reset</button>".html_safe, :action => :index %>
	</div>

	<div class="col-sm-offset-3 col-sm-3">
	  <%= f.submit "Test", :name => "test_button", class: 'btn btn-info'  %>
	  <%= f.submit "Submit", :name => "submit_button", class: 'btn btn-success' %>
	</div>
  </div>
</div>
<% end %>	  



<div id="result-box" style="display:none;">
</div>
</html>
<script src="//d1n0x3qji82z53.cloudfront.net/src-min-noconflict/ace.js"></script>
<script>
    // Hook up ACE editor to all textareas with data-editor attribute
    $(function () {
        $('textarea[data-editor]').each(function () {
            var textarea = $(this);

            var mode = textarea.data('editor');

            var editDiv = $('<div>', {
                position: 'absolute',
                width: textarea.width(),
                height: textarea.height(),
                'class': textarea.attr('class')
            }).insertBefore(textarea);

            textarea.css('visibility', 'hidden');

            var editor = ace.edit(editDiv[0]);
            editor.renderer.setShowGutter(false);

            editor.getSession().setValue(textarea.val());
            editor.getSession().setMode("ace/mode/" + mode);
            editor.setTheme("ace/theme/idle_fingers");
            
            // copy back to textarea on form submit...
            textarea.closest('form').submit(function () {
                textarea.val(editor.getSession().getValue());
            })

        });
    });
</script>

<!-- <textarea class="my-code-area" rows="4" style="width: 100%">puts 'foo'</textarea> -->
<!-- <script> -->
<!--   // Decorator -->
<!--   var decorator = $('.my-code-area').data('ace'); -->

<!--   // ACE Code Editor instance -->
<!--   var aceInstance = decorator.ace; -->
<!-- </script> -->
